<!DOCTYPE>
<html>
<meta charset="utf-8">
<head>
    <meta charset=utf-8" />
    <title>js平滑滚动到顶部、底部、指定地方</title>
    <script type="text/javascript" src="http://www.daixiaorui.com/Public/js/jquery.min.js"></script>

</head>

<body>
<div class="File" onclick="add()">添加附件</div>

    <input id="upfile" name="upfile" type="file" multiple="multiple" />

<div class="FileArea"></div>
<script type="text/javascript">

    function add()
    {
        var a="logout";
        var str= a.split(",");
        alert(str.length);
    }

</script>
</body>
</html>